{% extends 'base.html.twig' %}

{% block title %}{{ year }}{% endblock %}

{% block body %}
    {% include '_detail_intro.html.twig' with {
        eyebrow: 'Année',
        title: year,
        count: excerpts|length,
        summary: 'Les extraits liés aux albums sortis cette année-là.',
    } %}
    <div class="show-item">
        {% include 'excerpt/_list.html.twig' with { excerpts: excerpts, empty_message: 'Aucun extrait associé à cette année.' } %}
    </div>
{% endblock %}
