{% extends 'base.html.twig' %}

{% block title %}{{ year }}{% endblock %}

{% block body %}
    <section class="page-intro">
        <p class="eyebrow">Année</p>
        <h1>{{ year }}</h1>
    </section>

    {% include 'excerpt/_list.html.twig' with { excerpts: excerpts, empty_message: 'Aucun extrait associé à cette année.' } %}
{% endblock %}
