{% extends 'base.html.twig' %}

{% block title %}Ajouter un extrait{% endblock %}

{% block body %}
    <section class="page-intro">
        <p class="eyebrow">Saisie</p>
        <h1>Ajouter une page au carnet</h1>
    </section>

    <section class="form-panel">
        {% include 'admin/excerpt/_form.html.twig' with { form: form } %}
    </section>
{% endblock %}
