{% if excerpts is empty %}
    <p class="empty-state">{{ empty_message }}</p>
{% else %}
    <div>
        {% for excerpt in excerpts %}
            {% include 'excerpt/_card.html.twig' with { excerpt: excerpt } %}
        {% endfor %}
    </div>
{% endif %}
